body{
    background-color: rgb(70, 147, 187);
    font: normal 15pt arial ;
}
h1{
    text-align: center;
    color: white;
}
.conteudo{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
}
footer p{
    text-align: center;
    color: white;
}
.imgCenter{
    text-align: center;
}
.btnCenter{
    display: flex;
    justify-content: center;
}
.btn{
    margin: 10px 0;
    width: 100px;
    background-color:#3498db;
    border-radius: 4px;
    border: solid;
    border-width: 1px;   
}
.btn:hover{
    background-color: #a1defd;
    transition: 1s;
}