body{
    background-color: rgb(70, 147, 187);
    font: normal 15pt arial ;
}
h1{
    text-align: center;
    color: white;
}
.conteudo{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
}
#res{
    margin:18px 0;
}
.btn{
    box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#333133;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
    margin:0 auto;
}
.btn:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}
footer p{
    text-align: center;
    color: white;
}